<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Domain Model Information</title>
    <meta http-equiv="refresh" content="3">
</head>
<body>

<p>Количество произведённых ПК: <span th:text="${model.getComputersCount()}"></span></p>

<form th:action="@{/parameters}" method="post">
    <label for="delay">Введите задержку (в миллисекундах):</label>
    <input type="number" id="delay" name="delay" min="0" required th:placeholder="${model.getDelay()}">
    <button type="submit">Установить</button>
</form>

<form th:action="@{/parameters}" method="post">
    <label for="delay">Введите количество сборщиков:</label>
    <input type="number" id="makers" name="makers" min="1" required th:placeholder="${model.getMakersCount()}">
    <button type="submit">Установить</button>
</form>

</body>
</html>
